* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;

}

header nav a {
    color: #ffff;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    background-attachment: local;
    height: auto;
    background: local;
    margin-top: auto;
}

h1 {
    font-size: 35px;

}

h2 {
    font-size: 23px;
}

.logo {
    width: 100px;
    height: auto;
}

.boton {
    font-size: 16px;
    padding: 5px, 15px;
    text-align: center;
}

.boton.boton-celeste {
    background-color: #025d7b;
    color: #fff;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.container-full{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.fila{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

#inicio {
    background-color: #000;
    position: relative;
}

#inicio video {
    width: 100%;
    height: auto;
    border: #fff;
    opacity: 0.5px;
    filter: grayscale(1);
}

#inicio .bloque-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33.33%;
    color: #fff;
    text-align: center;

}

#inicio .bloque-inicio h1 {
    margin-bottom: 2.5px;
}