*{
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav{
    background-attachment: local;
    display: block;
    width: 100%;
    height: auto;
    background: local;
}